.slider-container {
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    animation: slide 3s infinite linear;
}

.slider img {
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
