
   * {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.header1 {
 display: flex;
 flex-wrap: wrap;

 font-size: 1em;
 color: white;
background-color: springGreen;

 border: 1px solid black;
 padding: 2px;
}
.header2 {
 display: flex;
 flex-wrap: wrap;

  font-size:4em;
  color: white;
 background-color: white;
 border: 0px solid black;
 padding: 3px;
}

 .footer {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
 background-color: green;
 border: 1px solid white;
 padding: 10px;

 text-align: center;
 font-size: 1em;
 color: white;
 position: fixed;
 bottom: 0;
 width: 100%;
 }

/* Six buttons with code link to some pages in this project */
 .button-group {
 display: flex;
 flex-wrap: wrap;
 background-image: url('usa1.png');
 justify-content: center;
 align-items: center;
 margin-top: 20px;
 box-shadow: 0 0 20px springgreen;
 }

 .button {
 display: inline-block;
 padding: 5px;
 margin: 5px;
 background-color: white;

  border: 1px solid black;
 border-radius: 3px;
 font-size: 1em;
 color: black;
 text-align: center;
 text-decoration: none;
  box-shadow: 0 0 20px springGreen;
 }

  .buttonm-group {

 display: flex;
 flex-wrap: wrap;
 width: 100px;

 justify-content: center;
 align-items: center;
 margin-top: 3px;
 }

 .buttonm {

  display: inline-block;
 padding: 5px;
 margin: 5px;
 background-color: purple;

  border: 1px solid black;
 border-radius: 3px;
 font-size: 1em;
 color: black;
 text-align: center;
 text-decoration: none;
 }

/* Fixed background */
 body {

   background-color: green;
   background-image: url('riva6.jpg');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: repeat;
   background-size: 100% 100%;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;

    }


      .lightbox {
  display: self;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 70%;
  top: 50;
  left: 0;
  background-color: transparent;
}
.lightbox-content {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  padding: 20px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
}












        .button:hover {
  background-color: springgreen; /* Button color on hover */
}


        /* Style the container */
        .image-container {
            width: 400px; /* Adjust the width as needed */
            height: 300px; /* Set the desired height */
             /* Add scroll bar when content exceeds container height */
            background-color: transparent; /* White background */
            border: 0px solid green; /* Optional border for visual clarity */
            padding: 6px; /* Add some padding for readability */


        }
        /* Style the text inside the container */
        .image-content {
             display: flex;
 flex-wrap: wrap;




        }



           /* Style the container */
        .text-container {


            width: 400px; /* Adjust the width as needed */
            height: 800px; /* Set the desired height */
             /* Add scroll bar when content exceeds container height */
            background-color: green; /* White background */
            border: 1px solid green; /* Optional border for visual clarity */
            padding: 3px; /* Add some padding for readability */

        }
        /* Style the text inside the container */
        .text-content {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            color: #333; /* Optional text color */
        }


                  /* Container for the carousel */
        .carousel-container {
            background-color: springgreen;
            width: 100%;
             height: 50px;
            overflow: hidden;
            position: relative;
        }
        /* Image carousel */
        .carousel {
            display: flex;
            animation: slide 60s infinite linear;
        }
        .carousel img {
            width: 100%;
             height: 40px;
            border: 1px solid green;
               padding: 1px;
 margin: 6px;
            height: auto;
        }
        /* Navigation buttons */
        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 24px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: 2px solid springgreen;
            outline: none;
        }
        .carousel-btn.left {
            left: 0;
        }
        .carousel-btn.right {
            right: 0;
        }










  /*slider imgs*/

.slider-container {
overflow: auto;

    width: 100%;
height: 100%
border: 1px solid ; color: black;
}

.slider {

    display: flex;
    animation: slide 60s infinite linear;

}

.slider img {


    width: 100%;
    height: auto;

}

@keyframes slide {


    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}




a:hover {
    background-color: #66FF00;
}



    .button:hover {
  background-color: springgreen; /* Button color on hover */
}



     #audio-player {
        width: 100%;
        margin-top: 20px;
    }




    h4 {
     position: relative;
     font-size: 6em;
     letter-spacing: 15px;
     color: black;
     text-transform: uppercase;
     width: 100%;
     text-align: center;
     -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
     line-height: 0.74em
     outline: none;
     animation: animate 6s linear infinite;



   }


   h4 {

     position: relative;
     font-size: 8em;
     letter-spacing: 20px;
     color: black;
     text-transform: uppercase;
     width: 100%;
     text-align: center;
     -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
     line-height: 0.74em
     outline: none;
     animation: animate 6s linear infinite;

   }




       .container6 {
           width: 70%;
           height: 250px;
           display: flex;
           justify-content: center;
           gap: 10px;
       }

       .container6 img {
           width: 10%;
           height: 100%;
           object-fit: cover;
           border-radius: 10px;
           border: 2px solid white;
           transition: all ease-in-out 0.5s;
       }
       .container6 img:hover {
           width: 25%;
       }








       .text {
background: linear-gradient(
to right,rgba(0, 168, 253), white 30%, springgreen);
background-size: 200% auto;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: gradient 3s linear infinite; }
@keyframes gradient {
0% { background-position: 0% 75%;}
50% { background-position: 100% 50%;}
100% { background-position: 0% 70%;}
}





 /* Flexible layout responsive design */

 .header1 {
 font-size: 0.5em;
 padding: 2px;
 }
 /* Big red header with red border */
 .header2 {
 font-size: 4em;
 padding: 2px;
 }
 /* Six buttons with code link to some pages in this project */
 .button-group {
 margin-top: 3px;
 }
 .button {
 padding: 3px;
 margin: 3px;
 font-size: 1em;
 }

  .buttonm-group {
 margin-top: 3px;
 }
 .buttonm {
 padding: 3px;
 margin: 3px;
 font-size: 1em;
 }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  flex: 100%;

  padding: 5px;
}
.column img {

  width: 100%;
  height: auto;

      }
@media screen and (max-width: 320px) {
  .column {

    width: 100%;
  }


}


